@font-face {
  font-family: "cat";
  src: url();
}

@media print {
  

body{
  --paged-layout : booklet;
  font-family: "cat";
}

@media print {
}
  @page{
    size: A5;
    margin: 40px 40px 60px 40px;
    @bottom-center{
      content: counter(page);
    }
  }

  @page:first {
    background-color: aqua;
    @bottom-center{
      content: none;
    }
  }

h1:first-of-type {
  page-break-after: always;
}

p {
  font-size: 14pt;
}


  @page backcover {
    @bottom-center{
      content: none;
    }
  }

  .back-cover{ page: backcover; }



}
